
header {
	font-size: 24px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-variant: normal;
	font-weight: 500;
	line-height: 27px;
	font-style: oblique;
}

.container {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-variant: normal;
	font-size: 15px;
	font-weight: normal;
	line-height: 18px;
	background-color: blanchedalmond;

}

#sidebar {
	float: left;
	left: 0;
	height: 100%;
	background-color: #eee;
}